# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Env
.env

# __test__
__test__/config.json

# Miscellaneous
audioBoi_port/
.tmp/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
